/* 銀河風格 CSS */

/* Body 全局設置 */
body {
  background-color: #08080e;
  color: #f5f5f5;
  font-family: "Segoe UI", sans-serif;
}

/* 頁面主標題 */
h1 {
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  margin: 50px 0 30px;
  color: #e5e5e5;
}

/* 內文段落 */
p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

/* 標籤樣式 */
label {
  margin-bottom: 10px;
  font-weight: bold;
}

/* 按鈕樣式 */
button {
  background-color: #303030;
  color: #e5e5e5;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* button:hover {
  background-color: #222222;
} */
button:hover {
  background: linear-gradient(
    90deg,
    #4f5d75,
    #3c4f6d,
    #344a6e,
    #2b4267,
    #2a3f66
  );
  color: #fff;
}

/* 輸入欄位樣式 */
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  background-color: #252525;
  color: #e5e5e5;
  font-size: 16px;
}

/*TODO:  */

#container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  outline: 5px solid wheat;
}
.container-left {
  width: 75vw;
  outline: 5px solid white;
}
.container-right {
  width: 25vw;
  outline: 5px solid rgb(150, 52, 52);
  position: relative; /* 設定相對位置 */
}
#search-result {
  display: flex;
  flex-wrap: wrap;
  flex: 1; /* 將搜索結果設置為彈性項目，占據所有可用空間 */
  min-height: 200px; /* 設置搜索結果的最小高度 */
  overflow: auto; /* 如果內容太長，則顯示滾動條 */
}

.quiz-card {
  position: relative;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  margin-right: 20px;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}
.quiz-card-resize {
  height: 100%;
  overflow: hidden;
  height: 80px;
}

.quiz-card:hover {
  box-shadow: 0 0 5px #ccc; /* 設定卡片滑鼠懸停時的陰影效果 */
}

.quiz-card h1 {
  font-size: 18px;
  margin: 0;
  margin-bottom: 10px;
}

.quiz-card ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.quiz-card ul li {
  margin-bottom: 5px;
  font-size: 14px;
}

.correct-option {
  color: green;
}

.wrong-option {
  color: red;
}
.hidden {
  display: none;
}

.icon-container {
  position: absolute;
  top: 0;
  right: 1px;
}

.icon-container img {
  height: 20px;
  width: 20px;
}
#search-result,
.language-container,
.generate-container,
.create-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

.quizz {
  margin-top: 20px;
}

.label-for-question {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.search-container {
  width: 60vw;
  display: flex;
  align-items: start;
  margin-bottom: 10px;
  position: relative;
}

#search-submit {
  position: absolute;
  top: 5px;
  left: 57vw;
  width: 8vw;
  height: 30px;
  background-image: url("https://cdn-icons-png.flaticon.com/128/2285/2285537.png");
  background-size: contain;
  background-repeat: no-repeat;
}
#search-submit:hover {
  cursor: pointer;
}

#search-submit-by-ai-pic {
  height: 40px;
  width: 4vw;
  background-image: url("https://cdn-icons-png.flaticon.com/128/1693/1693820.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* TODO:  */
header {
  position: relative;
  display: flex;
  align-items: center;
  background-color: #1d1e22;
  height: 75px;
  justify-content: center;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
}

.exit-btn {
  position: absolute;
  left: 20px;
  top: 50%;
  font-weight: bold;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#finish-button {
  position: absolute;
  font-weight: bold;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

/* 彈出視窗 */

.popup-container {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.popup {
  background: #fff;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  max-width: 1000px;
}

.popup-text {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.popup-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.popup-buttons .save-and-exit-btn,
.popup-buttons .no-save-btn,
.popup-buttons .back-to-game-btn {
  font-size: 15px;
  font-weight: bold;
  width: 30%;
}

.popup-buttons .room-ready-btn,
.popup-buttons .room-ready-cancell-btn {
  font-size: 15px;
  font-weight: bold;
  width: 45%;
}
