body {
  overflow: hidden;
  margin: 0;
  background-image: url("https://images.pexels.com/photos/176851/pexels-photo-176851.jpeg?auto=compress&cs=tinysrgb&w=600");
  background-size: cover;
}

.header {
  display: flex;
  height: 3vh;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgba(55, 55, 55, 0.5);
  color: #fff;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav li {
  margin: 0 10px;
}

.nav a {
  color: #fff;
  text-decoration: none;
}

.account {
  display: flex;
  align-items: center;
}
.logout-btn,
.login-btn,
.signup-btn {
  border: none;
  outline: none;
  background: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  z-index: 1;
}
.logout-btn::before,
.login-btn::before,
.signup-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: linear-gradient(to right, #bc4e9c, #f80759, #f27121);
  z-index: -1;
  opacity: 0;
  transition: all 0.3s ease;
}
.logout-btn:hover::before,
.login-btn:hover::before,
.signup-btn:hover::before {
  opacity: 1;
}
.logout-btn,
.login-btn:hover,
.signup-btn:hover {
  color: #fff;
}

.login-btn {
  margin-right: 20px;
  padding: 12px 30px;
  border-radius: 30px;
}
.logout-btn {
  padding: 12px 30px;
  border-radius: 30px;
}

.signup-btn {
  padding: 12px 30px;
  border-radius: 30px;
}

.enter-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  display: block;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #292929;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 10px 0px #ffffff;
}

.enter-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  background-color: #50818f;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #ffffff;
}

canvas {
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.login-container,
.signup-container {
  background-color: rgba(55, 55, 55, 0.5);
  padding: 20px;
  max-width: 400px;
  min-height: 300px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 0px 0px #ffffff;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.email-input,
.password-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  color: #292929;
  background-color: #ffffff;
  box-shadow: inset 0px 0px 10px 0px #ffffff;
}

.login {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  background-color: #1f2532;
  background-image: linear-gradient(to bottom right, #1f2532, #6c4d72, #b892c7);
  cursor: pointer;
  margin-top: 5%;
}

.signup {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  color: #ffffff;
  background-color: #1f2532;
  background-image: linear-gradient(to bottom right, #1f2532, #19659f, #2888ee);
  cursor: pointer;
  margin-top: 5%;
}

.enter-btn:hover {
  background-color: #e5dbe7;
}

/* h1 {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-for-roomId {
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}

.input-for-roomId {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  background-color: #121212;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #1e88e5;
  color: white;
  font-family: "Helvetica Neue", sans-serif;
} */
h1 {
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
  text-shadow: 1px 1px #ccc;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.label-for-roomId {
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  margin-right: 10px;
  text-shadow: 1px 1px #ccc;
}

.input-for-roomId {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  background-color: #333;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
}

#create {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 10px;
  background-color: #3f505f;
  color: #fff;
  font-family: "Helvetica Neue", sans-serif;
  cursor: pointer;
}

#create:hover {
  background-color: #0d47a1;
}
