body {
  background-image: url("https://images.pexels.com/photos/2874066/pexels-photo-2874066.jpeg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100vh;
  width: 100vw;
}

h1 {
  text-align: center;
  font-size: xx-large;
}

#player-list {
  padding: 30px;
  width: 75vw;
  margin: 0 auto 0;
  border-radius: 10px;
  min-height: 150px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  background-color: rgba(255, 255, 255, 0.1);
}

#player-list div {
  border-radius: 20px; /* 增加圓角 */
  width: 20%; /* 加寬一點 */
  color: #ffffff; /* 調整文字顏色 */
  background-color: rgba(0, 0, 0, 0.5); /* 調整背景顏色為半透明黑色 */
  font-size: 24px; /* 加大字體 */
  font-weight: 800; /* 增加字體粗細 */
  height: 80px; /* 加高一點 */
  display: flex;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5); /* 加入白色陰影效果 */
  animation: pulse 2s ease-in-out infinite; /* 加入動畫效果 */
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

#host {
  width: 75vw;
  margin: 0 auto 0;
  font-size: 20px;
}

button {
  background-color: #303030;
  color: #e5e5e5;
  font-size: 20px;
  padding: 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  width: 35%;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
#next-game-btn,
#show-final-score {
  position: absolute;
  height: 15%;
  width: 20%;
  top: 0;
  right: 0;
  font-size: 15px;
}
.host-container {
  display: flex;
  width: 75vw;
  margin: 0 auto 0;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  margin-top: 30px;
}

.count-down-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  transform: translate(-50%, -50%);
  display: none;
}

.count-down-radar {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5);
  animation: radar 1.5s linear infinite;
}

.count-down-number {
  /* position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%); */
  font-size: 150px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  animation: count-down-animation 1s linear infinite;
}

@keyframes radar {
  0% {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
  }
  25% {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px #ebd7ac;
  }
  50% {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px #e7c36d;
  }
  75% {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px #f8e56a;
  }
  100% {
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.5), 0 0 20px #cbd6d5;
  }
}

@keyframes count-down-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
}

.count-down-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  transform: translate(-50%, -50%);
  background-color: transparent;
  padding: 20px;
  border-radius: 5px;
  display: none;
  z-index: 10000;
}

.count-down-number {
  font-size: 150px;
  font-weight: bold;
  text-align: center;
  margin: 0 auto;
  animation: count-down-animation 1s linear infinite;
}

@keyframes count-down-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* TODO: */
#quiz-container {
  display: flex;
  padding: 15px;
  align-items: stretch;
  justify-content: space-around;
}

#quiz {
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: #f7f7f8;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  flex-basis: 60%;
  height: 70vh;
}
#timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 20px;
  left: 0;
  width: 100%;
  height: 20px;
  position: absolute;
  border-radius: 20px;
}

#timer .bar {
  width: 100%;
  height: 100%;
  background-color: rgba(154, 244, 149, 0.5);
  position: absolute;
  bottom: 0;
  border-radius: 20px;
}

#question {
  height: 15%;
  font-size: 36px;
  text-align: center;
}

.t-f-container {
  margin-top: 10%;
  color: #e5e5e5;
  height: 40%;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.t-f {
  width: 40%;
  height: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  outline: 1px solid whitesmoke;
  background-color: transparent;
}

.t-f:hover {
  cursor: pointer;
  box-shadow: 0 0 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  color: #303030;
}

.t-f:hover:not(.tf-no-hover) {
  cursor: pointer;
  box-shadow: 0 0 5px #ccc;
  background-color: rgba(255, 255, 255, 0.5);
  color: #303030;
}

.tf-no-hover {
  cursor: auto;
  box-shadow: none;
  background-color: transparent;
  color: inherit;
}

.mcs-checked {
  background-color: rgba(255, 255, 255, 0.5);
}
.submit-mcs-answer {
  font-size: 24px;
  padding: 10px;
  cursor: pointer;
  border-radius: 20px;
  outline: 1px solid whitesmoke;
}

#left-bar {
  height: 70vh;
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#quiz-intro {
  padding-top: 0;
}

#quiz-type {
  height: 10%;
  margin-top: 0;
  padding-top: 7px;
  font-size: 20px;
  text-align: center;
  margin-bottom: 30px;
}

#player-score {
  margin-top: auto;
  font-size: 16px;
  font-weight: bold;
  position: absolute;
  bottom: 70%;
  padding-bottom: 5px;
  color: #cbd6d5;
}

#score-chart {
  height: 70%;
  outline: 1px solid whitesmoke;
  width: 30px;
  position: absolute;
  border-radius: 20px;
  margin-top: auto;
  bottom: 0;
}

#score-bar {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #dae2ed;
  height: 0;
  border-radius: 20px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  align-items: stretch;
  margin: 0;
  padding: 10px;
  height: 65%;
}
li {
  height: 23%;
}

input[type="radio"],
input[type="checkbox"] {
  display: none;
}

label {
  display: block;
  height: 23%;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#scoreboard {
  display: flex;
  width: 15%;
  flex-direction: column;
  height: 70vh;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

#sort-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 75%;
  overflow: auto;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
#sort-container::-webkit-scrollbar {
  /* 隱藏 Webkit 樣式的滾動條圖示 */
  display: none;
}

.sort-player {
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin-top: 10px;
  width: 80%;
  position: relative;
  font-size: 20px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  outline: 1px solid whitesmoke;
}
.sort-player-score {
  position: absolute;
  right: 0;
  top: 0;
  color: whitesmoke;
  font-size: 16px;
  text-align: center;
}
.correct-answer {
  background-color: rgb(134, 221, 110) !important;
}

.wrong-answer {
  background-color: rgb(214, 56, 48) !important;
}

/* TODO: */

.rankings {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 30px;
}

.ranking {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 10%;
  padding: 10px;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 10px;
  outline: 1px solid whitesmoke;
}

.ranking:hover {
  background-color: #fff;
  transform: scale(1.1);
  color: #303030;
  box-shadow: 0px 5px 15px 8px #e4e7fb;
}

.player-name {
  flex: 1;
  font-size: 30px;
  width: 60%;
  font-weight: bold;
  text-align: center;
}

.player-score,
.player-rank {
  margin-left: 30px;
  font-weight: bold;
  width: 20%;
}

.footer-container {
  height: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.leave-game-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 30%;
  font-size: 24px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
  color: #ccc;
  padding: 10px;
  border-radius: 20px;
}

.leave-game-btn:hover {
  cursor: pointer;
  background-color: #181616;
}

/* popout container */

.popup-none {
  display: none;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: rgb(46, 46, 46);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popout-text {
  margin-top: 0;
  font-size: 20px;
  color: whitesmoke;
}

.popout-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pop-yes-button,
.pop-no-button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 18px;
  margin: 0 10px;
  cursor: pointer;
}

.pop-yes-button {
  background-color: #4caf50;
  color: rgb(221, 244, 220);
  border: none;
}

.pop-no-button {
  background-color: #f44336;
  color: rgb(244, 217, 217);
  border: none;
}
