select {
  background-color: #333;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
  margin-right: 0.5rem;
}

select option {
  background-color: #333;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem;
}
