.container {
  background-color: #0e0f1a;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
/* galaxy.css */

body {
  background-color: #222;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.5rem;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input[type="text"] {
  background-color: #333;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

button {
  background-color: #00c2ff;
  border: none;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  margin-right: 0.5rem;
}
.button-group {
  display: flex;
  flex-direction: column;
  height: 30vh;
  justify-content: space-around;
}


hr {
  border: none;
  border-bottom: 1px solid #fff;
  margin-bottom: 2rem;
}

#join {
  background-color: #8b85f8;
}

#create {
  background-color: #7c8ba2;
}
